/* // https://uigradients.com/#Lawrencium */


html, body {
  margin: 0px;
  height: 100%;
  font-family: monospace;
  color: white;
}

p {
  font-size: 18px;
  color: white;
  text-decoration: underline;
}

.nav-btn {
  cursor: pointer;
  transition-duration: 250ms;
  background-color: e7e7e7;
  color: black;
}

.nav-btn:hover {
  transition-duration: 250ms;
  margin-left: 2.5px;
  margin-right: 2.5px;
  background-color: #001A38;
  color: white;
}

#sidebar {
	grid-area: sidebar;
	overflow-y: scroll;
}

#content {
	grid-area: content;
}

.header {
	grid-area: header;
	font-family: Helvetica, sans-serif
}

.footer{
  grid-area: footer;
}

.sideBarItem{
	max-height: 50px;
	max-width: 50px;
	padding: 7px;
}

.sideBarItem img{
  cursor: pointer;
	max-height: 45px;
	max-Width: 45px;
}

.colourPalette{
  cursor: pointer;
	grid-area: colourP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
}

.options{
	grid-area: options;
	padding: 15px;
}

.colourSwatches{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
}


	.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 70px 230px minmax(500px, 1fr);
  grid-template-rows: 35px minmax(500px, 1fr) 160px;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "colourP colourP options";
  background-color: #fff;
  color: #444;
}
.box {
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
  background-color: #1F1D36;
  color: #fff;
  font-size: 150%;
}

.header {
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
  background-color: #1F1D36;

}

#title {
  transition-duration: 500ms;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 2px;
  padding-top: 15px;
  font-weight: 600;
  letter-spacing: 5px;
}

#title:hover {
  transition-duration: 500ms;
  letter-spacing: 15px;
}

#clearButton {
  margin-left: 50px;
}
